body{
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    width: 12px;
    background-color: white;
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(130, 130, 130);
    border-radius: 4rem;
    border-right: 2px solid #ffffff;
    border-left: 2px solid #fff;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(118, 118, 118);
}
header {
    background-image: url("/Imagenes/Foto_inicio/1fondo.png");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    left: 0;
}
header .barra{
    width: 100%;
    height: 5rem;
    margin: auto 0;
}
.barra ul{
    width: 100%;
    padding-left: 0;
    list-style: none;
    display: flex;
    position: fixed;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 2;
}
.barra li{
    font-size: 1.3rem;
    font-family: 'Mate SC', serif;
    margin: 0;
    width: 110px;
    transition: 0.4s;
}
.barra li a{
    display: block;
    padding: 15px;
    color: #000;
    text-decoration: none;
    text-align: center;
    justify-content: space-between;
    font-size: 1.2rem;
}
.barra li .a1{
    border-right: 1px solid rgb(46, 46, 46);
}
.barra li .a2{
    border-right: 1px solid rgb(46, 46, 46);
}
.barra li .a3{
    border-right: 1px solid rgb(46, 46, 46);
}
.barra li:hover{
    background-color: rgb(233, 233, 233);  
    transform: translateY(-3px) scale(1.01);
    box-shadow: 0 0 10px black;
}
.img-logo a{
    height: 100rem;
}
.img-logo{
    text-align: center;
    height: 5rem;
}
.img-logo .logo{
    height: 100%;
}
.deslizado{
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    width: 55%;
}
.deslizado ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 15s infinite alternate;
    animation-timing-function: ease-in-out;
}
.deslizado li{
    width: 100%;
    list-style: none;
}
.deslizado img {
    width: 100%;
    height: 100%;
}
@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
/*cuerpo*/
section{
    font-family: 'Times New Roman', Times, serif;
}
main{
    max-width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    width: 100%;
}
video{
    width: 100%;
    height: 100%;
}
.absolute{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    z-index: 1;
    text-decoration: none;
}
h1{
    font-size: 80px;
    font-weight: 900;
    z-index: 1;
    color:#fff;
    margin-bottom: 30px;
}

h1::after{
    display: block;
    width: 50%;
    height: 10px;
    content: "";
    margin: auto;
    background-color: rgb(243, 165, 63);
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb( 0, 0, 0, 0.575);
}
footer{
    position:relative;
    background-color: #A97E4B;
    box-shadow: 0 0px 30px rgba(51, 51, 48, 0.433);
    background: linear-gradient(100deg,#c57b3b,#ddc590, #c29942);
    height: 100%;
    width: 100%;
    font-family: "Open Sans";
    color: #fff;
    padding-top: 3rem;
}
.horse{
    max-width: 5.5rem;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: -0.3rem;
}

.footer-content h3{
    color: rgb(0, 0, 0);
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    color: #000;
    max-width: 550px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    font-weight: 599;
    font-family:'Mate SC', serif;
}
.Iconos{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Iconos ul{
    padding-left: 0;
}
.Iconos ul li{
    display: inline-block;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    text-align: center;
}
.Iconos ul li a{
    display: block;
    padding: 0 10px;
    color: #fff;
    font-size: 18px;
    transition: .2s;
}
.Iconos ul:hover a{
    filter: blur(2px);
}
.Iconos ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    filter: none;
}
.Iconos ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    
}
.Iconos a{
    font-size: 2rem;
    color: black;
    margin: 0.5%;
    justify-content: space-between;
}
.Iconos a .fab{
    margin-top: .25rem;
    color: black;
    width: 100%;
    padding: -.5rem 0;
    font-size: 30px;
}
.Iconos a .fa-facebook-f:hover{
    color: #00a6ff;
    transition: 0.2s;
}
.Iconos a .fa-instagram:hover{
    color: #ff3292;
    transition: .1s;
}
.Iconos a .fa-twitter:hover{
    color: #00eeff;
    transition: .1s;
}
.Iconos a .fa-youtube:hover{
    color: #ff2b2b;
    transition: .1s;
}
.footer-botton span{
    text-transform: uppercase;
    opacity: .6;
    color:rgb(0, 0, 0);
}
.footer-botton{
    background-color: rgb(199, 175, 121);
    width: 100%;
    padding: 5px 0;
    text-align: center;
}