body{
    background: linear-gradient(170deg,#ffffffe5,#ffffffec 140%);
    margin: 0
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: white;
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(174, 174, 174);
    border-radius: 4rem;
    border-right: 2px solid #ffffff;
    border-left: 2px solid #fff;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(118, 118, 118);
}
header{
    width: 100%;
    height: 5rem;
}
nav .barra{
    width: 100%;
    height: 5rem;
    margin: auto 0;
}
.barra ul{
    width: 100%;
    padding-left: 0;
    list-style: none;
    display: flex;
    position: fixed;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 5;
}
.barra li{
    font-size: 1.3rem;
    font-family: 'Mate SC', serif;
    margin: 0;
    width: 110px;
    transition: 0.4s;
}
.barra li a{
    display: block;
    padding: 15px;
    color: #000;
    text-decoration: none;
    text-align: center;
    justify-content: space-between;
    font-size: 1.2rem;
}
.barra li .a1{
    border-right: 1px solid rgb(46, 46, 46);
}
.barra li .a2{
    border-right: 1px solid rgb(46, 46, 46);
}
.barra li .a3{
    border-right: 1px solid rgb(46, 46, 46);
}
.barra li:hover{
    background-color: rgb(233, 233, 233);  
    transform: translateY(-3px) scale(1.01);
    box-shadow: 0 0 10px black;
}
.imagen{
    text-align: center;
    position: relative;
}
.imagen img{
    width: 30rem;
    margin-top: -4rem;
}
section{
    font-family: 'Times New Roman', Times, serif;
    max-width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    margin-top: -3rem;
}
video{
    width: 100%;
}
.absolute{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 80px;
    font-weight: 500;
    z-index: 1;
    color:#fff;
    margin-bottom: 10px;
}
h1::after{
    display: block;
    width: 30%;
    height: 7px;
    content: "";
    margin: auto;
    background-color: rgb(243, 165, 63);
}


.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb( 0, 0, 0, 0.800);
}

@media screen and(max-width: 800px){
    h1{
        font-size: 50px;
    }
}
@media screen and(max-width: 500 px){
    h1{
        font-size: 30px;
        margin-bottom: 0;
    }
    h1::after{
        display: none;
    }
}


/*Abajo*/
main{
    width: 100%;
    margin-top: 2.8rem;
}
main p{
    font-size: 25px;
    line-height: 30px;
    width: 50%;
    margin: auto;
    margin-left: 80px;

}
main a{
    font-family:cursive;
    border: 3px solid #fff;
    padding: 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
    font-weight: bold;
    display: inline-block;
    margin-top: 30px;
    margin-left: 80px;
}
main a:hover{
    background-color: rgba(119, 28, 0, 0.151);
    border-color: rgba(77, 67, 58, 0.459);
    color: rgb(26, 26, 26);
}
main h1{
    font-size: 70px;
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
    margin-left: 80px;
    margin-top: 9rem;
}
main .boton{
    text-align: center;
}
main .nombre{
    color:rgb(0, 0, 0);
}
.bloque1{
    display: flex;
    height: 100vh;
}
.bloque1 .b5mix{
    background: linear-gradient(170deg, #ffff, rgb(255, 233, 233));
    width: 50%;
}
.bloque1 .tragos{
    width: 50%;
}
.bloque1 .tragos img{
    width: 100%;
    height: 100vh;
}
.bloque2{
    display: flex;
    height: 100vh;
}
.bloque2 .deli{
    background: linear-gradient(170deg, #ffff, rgb(255, 233, 233));
    width: 100%;
}
.bloque2 .car{
    width: 100%;
}
.bloque2 .car img{
    width: 100%;
    height: 100vh;
}
.bloque3{
    display: flex;
    height: 100vh;
}
.bloque3 .regalos{
    background: linear-gradient(170deg, #ffff, rgb(255, 233, 233));
    width: 50%;
}
.bloque3 .regalito{
    width: 50%;
}
.bloque3 .regalito img{
    width: 100%;
    height: 100vh;
}

/**FOOTER**/
footer{
    position:relative;
    background-color: #A97E4B;
    box-shadow: 0 0px 30px rgba(51, 51, 48, 0.433);
    background: linear-gradient(100deg,#c57b3b,#ddc590, #c29942);
    height: 100%;
    width: 100%;
    font-family: "Open Sans";
    color: #fff;
    padding-top: 3rem;
}
.horse{
    max-width: 5.5rem;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: -0.3rem;
}

.footer-content h3{
    color: rgb(0, 0, 0);
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    color: #000;
    max-width: 550px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    font-weight: 599;
    font-family:'Mate SC', serif;
}
.Iconos{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Iconos ul{
    padding-left: 0;
}
.Iconos ul li{
    display: inline-block;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    text-align: center;
}
.Iconos ul li a{
    display: block;
    padding: 0 10px;
    color: #fff;
    font-size: 18px;
    transition: .2s;
}
.Iconos ul:hover a{
    filter: blur(2px);
}
.Iconos ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    filter: none;
}
.Iconos ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    
}
.Iconos a{
    font-size: 2rem;
    color: black;
    margin: 0.5%;
    justify-content: space-between;
}
.Iconos a .fab{
    margin-top: .25rem;
    color: black;
    width: 100%;
    padding: -.5rem 0;
    font-size: 30px;
}
.Iconos a .fa-facebook-f:hover{
    color: #00a6ff;
    transition: 0.2s;
}
.Iconos a .fa-instagram:hover{
    color: #ff3292;
    transition: .1s;
}
.Iconos a .fa-twitter:hover{
    color: #00eeff;
    transition: .1s;
}
.Iconos a .fa-youtube:hover{
    color: #ff2b2b;
    transition: .1s;
}
.footer-botton span{
    text-transform: uppercase;
    opacity: .6;
    color:rgb(0, 0, 0);
}
.footer-botton{
    background-color: rgb(199, 175, 121);
    width: 100%;
    padding: 5px 0;
    text-align: center;
}